.head{
background-color:#004729;
color:white;
margin-top:0px;
}

.footer{
padding-left: 1%;
position: inherit;
background-color:#DCDCDC;
color:black;
/*border-style: solid;*/
border-top: 5px solid #32CD32;
/*border-color: #000000;*/
margin-top:0px;
}

.text-center .img-responsive{
	margin: 0 auto;
}

.head1{
	width:40%;
	height:40%;
	float: left;
}
