
.head{
background-color:#004729;
color:white;
margin-top:0px;
font-style: Roboto;
font-family: "Cinzel";
font-size: 18px;
}

.footer{
padding-left: 1%;
position: inherit;
background-color:#004729;
color:white;
/*border-color: #000000;*/
margin-top:0px;

font-family: "Cinzel";
font-size: 18px;
}

.text-center .img-responsive{
	margin: 0 auto;
}

.head1{
	width:40%;
	height:40%;
	float: left;
}

.body {
        background-color: white;
        color: 3b3b3b;
    }
    /* Sucess Checkbox Style */
 .form-group input[type="checkbox"] {
    display: none;
    }

 .form-group input[type="checkbox"] + .btn-group > label span {
        width: 20px;
    }

  .form-group input[type="checkbox"] + .btn-group > label span:first-child {
        display: none;
    }
  .form-group input[type="checkbox"] + .btn-group > label span:last-child {
        display: inline-block;
    }

  .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
        display: inline-block;
    }
  .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
        display: none;
    }

    /* Espaçamento da tabela table.tr NÃO ESTÁ FUNCIONANDO... */
  .td, table-hover.tr {
      paddind: 30px 30px 30px 30px;
    }

.mybutton {
    background-color: #004729; /* Green */
    border: none;
    color: white;
}

.mybadge {
    /* /* background-color: #e0e0e0 */
    color: #e0e0e0;    
    background-color: #004729; Green */
    /* background-color: #ADADAD; */
}

.mybutton1 {
    background-color: #004729; /* Green */
    border: none;
    color: white;
}
